################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataStructuresReview/.vs/DataStructuresReview/v15/Browse.VC.opendb
